body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(64, 255, 166, 0.85),rgba(8,83,156, 0.85)), url('media/bg.jpg');
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
header>img{
    /* margin: 20px; */
    text-align: center;
    color: black;
    font-style: italic;
    
}

#details {
    background-color: black;
    width: 500px;
    color: #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 0px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 350px;
    border-top-right-radius: 350px;
}
#details:hover {
    width: 500px;
    color: #ddd;
    border-style: solid;
    border-width: 0px;
    border-radius: 200px;
}


#img {
    border-style: solid;
    border-width: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 350px;
}
#img:hover {
    border-style: solid;
    border-width: 0px;
    border-radius: 200px;
}

@keyframes bgcolor {
    0%   {background-color:red;
            border-style: solid;
            border-width: 0px;
            border-radius: 0px;
            width: 1200px;}
    25%  {background-color:blue;
            border-style: solid;
            border-width: 0px;
            border-radius: 50px;
            width: 1000px;}
    50%  {background-color:green;
            border-style: solid;
            border-width: 0px;
            border-radius: 100px;
            width: 800px;}
    75%  {background-color:greenyellow;
            border-style: solid;
            border-width: 0px;
            border-radius: 50px;
            width: 1000px;}
    100% {background-color:yellow;
            border-style: solid;
            border-width: 0px;
            border-radius: 0px;
            width: 1200px;}
}
fieldset {
align-items: center;
justify-content: center;
text-align: center;
background-image: linear-gradient(to left,rgba(225, 77, 255, 0.65),rgba(255, 55, 131, 0.65));
}
fieldset:hover {
    align-items: center;
    justify-content: center;
    text-align: center;
    animation-name: bgcolor;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

fieldset > legend {
    background-color: black;
    border-style: solid;
    border-width: 0px;
    border-radius: 30px;
    width: 300px;
    color: beige;
    text-align: center;
}

a:visited {
    color: black;
}  

#image{
    border: 2px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

footer{
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
    margin-left: -335px;
}

footer ul{
    background: #ffe5e5;
    list-style: none;
    color: darkred;
}

footer ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: bisque;
}

footer a:hover{
    color: brown;
}

td::first-letter {
    color: brown;
    background-color: darkorange;
    font-size: 30px;
}